@media (prefers-color-scheme: dark) {
    :root {
        --back-color: black;
        --text-color: aliceblue;
        --bodys-back: #2c3e50;
        --borders-color: white;
        --training-back: #6D7278;
        --aquamarine-color: darkseagreen;
        --bisque-color: chocolate;
        --tomato-color: crimson;
        --SB-2-color: cadetblue;
        --inverter-color-1: #d3c1af;
        --inverter-color-2: #0f0700;
        --invert-1: invert(0);
        --invert-2: invert(1);
    }
}
